<h1 style="font-family: Arial">Are you gonna eat that?</h1>
<p>An Arity Lunch Generator, by Alex Ispa-Cowan</p>
<hr>
	<p>Next Lunch: <%= @lunch.title %></p> 
	<p>Date: <%= @lunch.date.strftime('%B %d, %Y') %></p>
<hr>
<% if @generated == false %>
	<%= button_to "Yes", eaters_sign_up_path, method: :get, class: "btn btn-primary btn-block" %>
	<hr>
	<%= button_to "No", "/dissapointed", method: :get, class: "btn btn-primary btn-block" %>
<% end %>
<% if @generated == true %>
	<p>groups have been generated for <%= @lunch.title %>, on <%= @lunch.date %></p>


		<% (1..@number_of_groups).each do |group| %>
		<table class="table">
		<thead>
			<tr>
				<th><h2>Group number <%= group %></h2></th>
			</tr>
		</thead>
		<tbody>
			
			
		<% @eaters.each do |eater| %>
		<% if eater.group_number == group %>
			<tr><td><p><%= eater.name %> </p></td></tr>
			<% end %>
		<% end %>
				</th>
			</tr>
		</tbody>

	</table>
	<% end %>
<% else %>
		
<% end %>