<h3>Eaters(<%= @eaters.count %>): </h3>
<% @eaters.each do |eater| %>
	<%= eater.name %> --- <%= eater.email %> <%= eater.group_number %> <%= link_to("delete", "delete/#{eater.id}", value: eater.name) %> <br>
<% end %>

<%= form_tag("generate", method: "get") do %>
	<%= number_field_tag "group_size", nil, placeholder: "group size" %>
	<%= submit_tag("generate groups") %>
<% end -%>